<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
	</style>
	<script src="./asset/vue.js"></script>
	<script src="./asset/axios.js"></script>
	<link rel="stylesheet" href="./asset/css/element.css">
	<script src="./asset/element.js"></script>
	<!-- <script type="module">
		import Element from 'element-ui';
		import 'element-ui/lib/theme-chalk/index.css';
	</script> -->
</head>

<body>
    <div id="app" class="container-fluid">
		<h2 class="page-title" id="page-title">webview 3</h2>
			<div class="form-group">
				<el-form :model="userForm" :rules="rules" status-icon ref="userForm" label-width="50px" class="demo-ruleForm">
					<el-form-item label="名字" prop="name">
					  <el-input v-model.number="userForm.name"></el-input>
					</el-form-item>
					<el-form-item label="密码" prop="password">
					  <el-input type="password" v-model="userForm.password" autocomplete="off"></el-input>
					</el-form-item>
					<el-button type="primary" @click="submitForm()">提交</el-button>
				</el-form>
				<button @click="alertA">alert是不好用的</button>
				<el-button type="info" @click="openHint" class="vs-btn">与vscode通信</el-button>	
				<el-button @click="getList" type="primary">获取列表</el-button>	
				<el-select v-model="value" placeholder="请选择">
					<el-option
						v-for="item in options"
						:key="item.name"
						:label="item.name"
						:value="item.name">
					</el-option>
				</el-select>
				<!-- 弹窗 -->
				<div>
					<el-button type="text" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button>
					<el-dialog title="收货地址" :visible.sync="dialogFormVisible">
						<el-form :model="form">
							<el-form-item label="活动名称" :label-width="formLabelWidth">
							<el-input v-model="form.name" autocomplete="off"></el-input>
							</el-form-item>
							<el-form-item label="活动区域" :label-width="formLabelWidth">
							<el-select v-model="form.region" placeholder="请选择活动区域">
								<el-option label="区域一" value="shanghai"></el-option>
								<el-option label="区域二" value="beijing"></el-option>
							</el-select>
							</el-form-item>
						</el-form>
						<div slot="footer" class="dialog-footer">
							<el-button @click="dialogFormVisible = false">取 消</el-button>
							<el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
						</div>
					</el-dialog>
				</div>
				<!-- 消息提示 -->
				<el-button type="success" @click="open2">成功</el-button>
				<!-- 跳转 prevented webview navigation -->
				<el-button type="warning" @click="jump">跳转</el-button>
			</div>
	</div>
</body>

</html>

<script>
	let data = {
		dialogFormVisible: false,
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px',
		userForm:{
			name:'',
			password:''
		},
		rules:{
			name: [
				{ required: true, message: '请输名字', trigger: 'blur' }
			],
			password: [
				{ required: true, message: '请输入密码', trigger: 'blur' }
			]
		},
		options:[],
		value:'',
		msg:'Hello WebView3!',
		testMode: false,
		vscode: acquireVsCodeApi(),
	}
	new Vue({
	    el:'#app',
	    data,
	    methods:{
			alertA(){
				alert(213)
			},
			openHint:function () {
				console.log('openHint')
				this.vscode.postMessage({
					command: 'openHint',
					text: this.msg
				})
			},
			getList() {
				let _this = this
				axios.get("http://localhost:3000/list/1",this.userForm).then(function (response) {  
					console.log(response.data);
					// 将获取到的数据放到下拉列表中
					_this.options = response.data.list.rows;
                    }, function (err) { })
			},
	        submitForm:function(){
				console.log(this.userForm)
				let _this = this
	            axios.post("http://localhost:3000/submit",this.userForm).then(function (response) {
                        console.log(response.data);
                    }, function (err) { })
			},
			open2() {
				this.$message({
				message: '恭喜你，这是一条成功消息',
				type: 'success'
				});
			},
			jump(){
				window.location.href="webview2.html"
			}
	    }
	});
	
</script>
<style>
	.demo-ruleForm {
		width: 200px;
		margin-bottom: 20px;
	}
	.vs-btn{
		clear: both;
		margin-bottom: 20px;
	}
</style>